#main-container {
  /* position: absolute; */
  margin: auto;
  font-family: 'Balsamiq Sans', cursive;

  font-family: 'Indie Flower', cursive;
  /* align-self: center; */
  border-radius: 2rem;
  border: 2.5px solid #ccc;
  font-size: 40px;
  text-align: center;
  background-color: #5788e9;
  width: 800px;
}

#main-input {
  font-family: 'Balsamiq Sans', cursive;

  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 2rem;
  height: 50px;
  padding: 20px;
  background-color: white;
  border-radius: 400px;
  border: 3.5px solid #1352cf;
  margin-bottom: 20px;
}

#countdown {
  font-size: 40px;
}

button {
  padding: 1rem;
  border: 1.5px solid #fd4c51;
  border-radius: 400px;
  background-color: #f60006;
  /* font-family: 'Balsamiq Sans', cursive;
   */
  font-family: 'Balsamiq Sans', cursive;

  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  margin: 5px;
  box-shadow: 5px 5px 5px black;
}

.toggleRed {
  background-color: red;
}

.toggleBlue {
  background-color: #5788e9;
}
